body {
  background: papayawhip;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  padding: 20px;
}

a {
  color: brown;
}

a:visited {
  color: indianred;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 10px;
}

.container {
  max-width: 768px;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
